.DS_Store
**/__pycache_/
matensemble.egg-info/*
scripts/baseline/log.lammps
scripts/baseline/log.lammps
example_workflows/baseline/lammps_ensemble_FF/Bi2Se3_runs/*
scripts/frontier/lammps_April_2025
matensemble.egg-info
lammps/*
matensemble/__pycache__/*
